<div>
	<div class="toolbar">
		<h2>Welcome to ACAD Restaurant</h2>
	</div>
	<div class="data">
		<div class="dish" *ngFor="let dish of dishes; let index = index;">
			<img
				[src]="dish.image"
				[alt]="dish.name"
			/>
			<div class="row">
				<p>{{dish.name}}</p>
				<p>{{dish.stock}}</p>
			</div>
			<button (click)="selectFood(dish, index)">Pedir</button>
		</div>
	</div>
	<div class="box">
		<canvas baseChart *ngIf="dishes.length > 0" #baseChart="base-chart"
			[data]="myData"
			[labels]="barChartLabels"
			[options]="barChartOptions"
			[legend]="barChartLegend"
			[colors]="chartColors"
			[chartType]="barChartType">
		  </canvas>
	</div>
</div>