.toolbar {
	width: 100%;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	color: white;
	background-color: #228AAE;
	padding: 8px 0 0 0;
	h2 {
		font-weight: 300;
	}
}

.dish {
	width: 250px;
	border-radius: 8px;
	box-shadow: 0 2px 5px #07141dAA;
	margin: 12px ;
	align-items: center;

	.row {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}


	img {
		width: 100%;
		height: 200px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	button {
		padding: 8px;
		width: 100px;
		background: #11d214;
		border: none;
		margin: 0 0 12px 75px;
		color: white;
		cursor: pointer;
	}
}

.data {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 25px;
}

.box {
	width: 600px;
	height: 600px;
	margin: auto;
}